body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.content {
    padding: 1rem;
}

.content p, .content dd {
    max-width: 42rem;
}

a {
    color: #3d7e9a;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    text-decoration: underline;
}

.content dd {
    margin-bottom: 24px;
}

.content-heading {
    background-color: #f5f9fa;
    padding: 10px;
}

h1, h2, h3 {
    font-family: 'Zilla Slab', Arial, sans-serif;
}

.warning, .note {
    max-width: 42rem;
    padding: .5rem;
    font-family: 'Zilla Slab', Arial, sans-serif;
}

.warning {
    background: #ffe7e8;
    border-color: #e66465;
}

.note {
    background: #fff3d4;
    border-color: #f6b73c;
}

pre {
    background: #eee;
    border-left: solid #3d7e9a 5px;
    padding: 1rem;
}
