body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.content {
    max-width: 42rem;
    padding: 1rem;
}

a {
    color: #3d7e9a;
    text-decoration: none;
}

a:active, a:focus, a:hover {
    text-decoration: underline;
}

.content dd {
    margin-bottom: 24px;
}

.content-heading {
    font-family: 'Zilla Slab', Arial, sans-serif;
    background-color: #f5f9fa;
    padding: 10px;
}
